## 编译和工具生成目录
.xmake/
.metals/
.bsp/
.claude/
.codex/
.agents/
.agent/
.vscode/
.luajit_pro/
build/
verdiLog/
vdCovLog/
fsdb2vcdLog/

# 编辑器临时文件
*.swp
*.log
novas.conf
novas.rc
ucli.key
.fsm.sch.verilog.xml
\[VERILUA\]
\[verilua.LuaUtils\]
coverage_exclude.el

# 模块特有的生成文件
ut/AxiReorder/ChiselTemplate/out/
ut/AxiReorder/ChiselTemplate/.scalafmt.conf
